## Class 2 Python for Data Science
### Python Dictionary
### List Comprehension
### Reading CSV file and fix data errors

One of Python's built−in datatypes is the dictionary, which defines one−to−one relationships between keys and values.

"Like lists dictionaries can easily be changed, can be shrunk and grown ad libitum at run time. They shrink and grow without the necessity of making copies. Dictionaries can be contained in lists and vice versa. But what's the difference between lists and dictionaries? Lists are ordered sets of objects, whereas dictionaries are <b>unordered sets.</b> But the main difference is that items in dictionaries are accessed via keys and not via their position."

<br>
A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key: value pairs to the dictionary; this is also the way dictionaries are written on output.

In [1]:
dict1 = {"fruit" : "orange, watermelon, grape", "vegetable":"onion, mushroom, lettuce"}
dict1

{'fruit': 'orange, watermelon, grape', 'vegetable': 'onion, mushroom, lettuce'}

### Keys

Get the keys from "dict1"

In [2]:
dict1.keys()

dict_keys(['fruit', 'vegetable'])

### Indexing With Keys?

What happens if you try to run "<b>dict1[0]</b>"? Why?

In [3]:
dict1["fruit"]

'orange, watermelon, grape'

OR

In [4]:
dict1.get("fruit")

'orange, watermelon, grape'

### ii.Values

Get the values from "dict1"

In [5]:
dict1.values()

dict_values(['orange, watermelon, grape', 'onion, mushroom, lettuce'])

### Indexing With Values?
A little more complicated

In [6]:
V = 'orange, watermelon, grape'

for key, value in dict1.items():
    if value == V:
        K = key
    
print(K)

fruit

### iii. Length of Dictionary

Returns the number of stored entries, i.e. the number of (key,value) pairs.

In [7]:
len(dict1)

2

### iv. Remove key and value

In [8]:
del dict1["vegetable"]
dict1

{'fruit': 'orange, watermelon, grape'}

### v. Add new value

In [9]:
dict1["new"] = 0
dict1

{'fruit': 'orange, watermelon, grape', 'new': 0}

### vi. Concatenating Dictionaries
<i>*Note: Keys must be unique</i>

In [10]:
#dict.update is like replacing the value of the key with value in the new dict
dict1 = {"fruit" : "orange, watermelon, grape", "vegetable":"onion, mushroom, lettuce"}
dict2 = {"fruit": [5,6,7]}
dict1.update(dict2)
dict1

{'fruit': [5, 6, 7], 'vegetable': 'onion, mushroom, lettuce'}

### <font color = "coral">Exercise 1: Create a new dictionary</font>
<font color = "coral">Your keys should be "Country","State","City","ZipCode"

Fill in the values according to the keys.

In [11]:
#Your code here
loc_dict = {"Country": "USA", "State":"California", "City":"Cupertino", "Zipcode":"95129"}
loc_dict

{'Country': 'USA',
 'State': 'California',
 'City': 'Cupertino',
 'Zipcode': '95129'}

## Multi-dimensional Array

In [12]:
a = [[0,  1, 2, 3, 4, 5],
     [10,11,12,13,14,15],
     [20,21,22,23,24,25],
     [30,31,32,33,34,35],
     [40,41,42,43,44,45],
     [50,51,52,53,54,55]]

In [13]:
a[0]

[0, 1, 2, 3, 4, 5]

In [14]:
a[4:6]

[[40, 41, 42, 43, 44, 45], [50, 51, 52, 53, 54, 55]]

In [15]:
a[5][5]

55

### List Comprehensions

In [16]:
[x**2 for x in range(15)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

 SAME AS BELOW

In [17]:
squares = []

for x in range(15):
    squares.append(x**2)
    
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

#### What is happening in this loop?

In [18]:
new = []
for x in squares:
    if x < 100:
        new.append(x**2)
new

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]

In [19]:
new = [i**2 for i in squares if i < 100]
new

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561]

### <font color = "coral">Exercise 2:
<font color = "coral">
Turn this for loop into a nested for list comprehension (Should only be one line).

In [20]:
mystery = []
for i in range(1000):
    if i%5 == 0:
        mystery.append(i)
print(mystery)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500, 505, 510, 515, 520, 525, 530, 535, 540, 545, 550, 555, 560, 565, 570, 575, 580, 585, 590, 595, 600, 605, 610, 615, 620, 625, 630, 635, 640, 645, 650, 655, 660, 665, 670, 675, 680, 685, 690, 695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745, 750, 755, 760, 765, 770, 775, 780, 785, 790, 795, 800, 805, 810, 815, 820, 825, 830, 835, 840, 845, 850, 855, 860, 865, 870, 875, 880, 885, 890, 895, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950, 955, 960, 965, 970, 975, 980, 985, 990, 995]

In [21]:
#Your code here
mystery = [i for i in range(1000) if i%5 == 0]
print(mystery)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500, 505, 510, 515, 520, 525, 530, 535, 540, 545, 550, 555, 560, 565, 570, 575, 580, 585, 590, 595, 600, 605, 610, 615, 620, 625, 630, 635, 640, 645, 650, 655, 660, 665, 670, 675, 680, 685, 690, 695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745, 750, 755, 760, 765, 770, 775, 780, 785, 790, 795, 800, 805, 810, 815, 820, 825, 830, 835, 840, 845, 850, 855, 860, 865, 870, 875, 880, 885, 890, 895, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950, 955, 960, 965, 970, 975, 980, 985, 990, 995]

 <h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 3:</h1></font>

<font color = "coral">
Not that you have all this knowledge on different operators, data types, and loops create a loop that removes all the unwanted information from our list.

<b>1) Create a loop where you get rid of all the odd numbers.
<br><br>
2) Put all the numbers in order from smallest to largest.<br><br>
3) Once you only have a list of ordered even numbers convert all these integers into strings.<br><br>
4) Now print your number strings as a single string with comma separation.</b>

In [22]:
lst = [4,6,3,2,6,8,9,7,23,4,465,7,6,8,454,5,876,567,54,76,34,55,
       33,7653,234234,7857,23432,4353,4,345,4667,23235,1212,221,
       335,2323,21,45,76,5432,54645645,123212245346342,67,34563,2]

#Your code here
even = [i for i in lst if i%2 == 0]
even.sort()
even_str = [str(i) for i in even]
print(", ".join(even_str))

2, 2, 4, 4, 4, 6, 6, 6, 8, 8, 34, 54, 76, 76, 454, 876, 1212, 5432, 23432, 234234, 123212245346342

 <h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 4:</h1></font>

<font color = "coral">If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 10,000.

In [23]:
#Your answer here
def three_five_multi(n):
     return [i for i in range(1,n) if i%3 == 0 or i%5 == 0]
        
print(sum(three_five_multi(10)))
print(sum(three_five_multi(10000)))

23
23331668

 <h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 5:</h1></font>

<font color = "coral">
Calculate all square numbers (1,4,9,16,...) below 1,000. What's their sum?

In [24]:
#Your answer here
import math
squares = [i for i in range(1000) if math.sqrt(i) % 1 == 0]
sum(squares)

10416

 <h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 6:</h1></font>

<font color = "coral">
Write a function to calculate the mean (average) of "lst". Do not use the built-in "mean" functions that Python offers.

In [25]:
lst = [4,6,3,2,6,8,9,7,23,4,465,7,6,8,454,5,876,567,54,76,34,55]
           
#Your answer here
def average(l):
    return sum(l)/len(l)

average(lst)

121.77272727272727

 <h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 7:</h1></font>

<font color = "coral">
Write a function to calculate the median of "lst". Do not use the built-in "median" functions that Python offers.

In [26]:
lst = [4,6,3,2,6,8,9,7,23,4,465,7,6,8,454,5,876,567,54,76,34,55,
       33,7653,234234,7857,23432,4353,4,345,4667,23235,1212,221,
       335,2323,21,45,76,5432,54645645,123212245346342,67,34563,2]

#Your answer here
def median(l):
    l.sort()
    if len(l)%2 == 0:
        return (l[len(l)//2] + l[len(l)//2 - 1]) / 2  # i.e. len 4, 0, 1, 2, 3, middle indices are 1 & 2, hence 4//2 - 1 and 4//2
    else:
        return l[len(l)//2]   # i.e. len 5, indices 0,1,2,3,4, midpoint is index 2, hence floor division of 5//2
    
median(lst)

67

 <h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 8:</h1></font>

<font color = "coral">Write a function to calculate the mode of "lst". Do not use the built-in "mode" functions that Python offers.

In [1]:
lst = [4,6,3,2,6,8,9,7,23,4,465,7,6,8,454,5,876,567,54,76,34,55,
       33,7653,234234,7857,23432,4353,4,345,4667,23235,1212,221,
       335,2323,21,45,76,5432,54645645,123212245346342,67,34563,2]

#Your answer here
def mode(l):
    counts = {}
    for i in lst:
        if i not in counts:
            counts[i] = 1
        else:
            counts[i] += 1
    
    max_ct = 0
    max_keys = []
    for key, value in counts.items():
        if value > max_ct:
            max_ct = value
            max_keys = [key]
        elif value == max_ct:
            max_keys.append(key)
    return max_keys

mode(lst)

[4, 6]

# Reading CSV file -- bayarea_home_prices data

In [28]:
"""
Dataset description
1) HomeID = Home ID number
2) HomeAge = Age of home in years
3) HomeSqft = Square footage of home
4) LotSize = LotSize
5) BedRooms = Num bedrooms as per county data
6) HighSchoolAPI = API for nearest high school
7) ProxFwy = Distance in miles to Freeway
8) CarGarage = Number of cars in garage; 0 = no garage
9) ZipCode = Postal zip code for the home
10)HomePriceK = Home price in $K (Target)
-------------------------------------------
9 X Variables; 1 Y variable (Target)
Data Points = 100

Data errors:
1) Few ZipCode have starting digit to be 8, it should be 9
2) Few HighSchoolApi scores have two digits, the ending digit 0 is missing
3) Few CarGarage numbers were entered as letter "l", it should be integer 1 
"""

'\nDataset description\n1) HomeID = Home ID number\n2) HomeAge = Age of home in years\n3) HomeSqft = Square footage of home\n4) LotSize = LotSize\n5) BedRooms = Num bedrooms as per county data\n6) HighSchoolAPI = API for nearest high school\n7) ProxFwy = Distance in miles to Freeway\n8) CarGarage = Number of cars in garage; 0 = no garage\n9) ZipCode = Postal zip code for the home\n10)HomePriceK = Home price in $K (Target)\n-------------------------------------------\n9 X Variables; 1 Y variable (Target)\nData Points = 100\n\nData errors:\n1) Few ZipCode have starting digit to be 8, it should be 9\n2) Few HighSchoolApi scores have two digits, the ending digit 0 is missing\n3) Few CarGarage numbers were entered as letter "l", it should be integer 1 \n'

In [29]:
## Reading csv files
def read_file(filename):
    file_open = open(filename,"r")
    data_array = []
    for line in iter(file_open):
        if "HomeID" in line:
            continue
        line_no_newline = line.rstrip() # delete white space characters
        line_split = line_no_newline.split(",")
        data_array.append(line_split)
    return data_array

In [30]:
housing_data = read_file("bayarea_home_prices.csv")
print(housing_data[0:6])

[['1', '24', '1757', '6056', '2', '899', '3', '3', '94085', '894'], ['2', '10', '1563', '6085', '2', '959', '4', '3', '94085', '861'], ['3', '14', '1344', '6089', '2', '865', '4', '3', '94085', '831'], ['4', '14', '1215', '6129', '3', '959', '4', '2', '94085', '809'], ['5', '24', '1866', '6141', '3', '877', '4', '1', '94085', '890'], ['6', '18', '1589', '6148', '2', '920', '3', '0', '84085', '867']]

In [31]:
len_housing_data = len(housing_data)
print(len_housing_data)

100

In [32]:
list_HomeAge = []
# for all rows, extract only column 1
for k in range(0,len_housing_data):
    list_HomeAge.append(housing_data[k][1])

In [33]:
print(list_HomeAge) 
# they are still strings, cannot do numerical calculations with strings

['24', '10', '14', '14', '24', '18', '13', '19', '17', '24', '12', '22', '15', '25', '10', '20', '23', '16', '10', '13', '17', '10', '15', '10', '21', '12', '13', '10', '17', '24', '10', '18', '11', '19', '12', '14', '13', '22', '22', '15', '23', '21', '17', '11', '15', '11', '21', '22', '12', '19', '19', '25', '23', '12', '10', '11', '11', '19', '22', '19', '13', '19', '25', '12', '14', '25', '24', '12', '21', '16', '19', '24', '25', '17', '14', '12', '17', '25', '17', '11', '18', '19', '24', '25', '22', '19', '18', '22', '21', '14', '16', '18', '25', '21', '13', '11', '10', '21', '19', '11']

In [34]:
# How to convert zipcodes from text to numbers
for k in range(0,len_housing_data):
    housing_data[k][8] = int(housing_data[k][8])  # convert to integer data type and over-write

In [35]:
print(housing_data[0:5]) # Zipcode is without quotes and not strings; they are now integers

[['1', '24', '1757', '6056', '2', '899', '3', '3', 94085, '894'], ['2', '10', '1563', '6085', '2', '959', '4', '3', 94085, '861'], ['3', '14', '1344', '6089', '2', '865', '4', '3', 94085, '831'], ['4', '14', '1215', '6129', '3', '959', '4', '2', 94085, '809'], ['5', '24', '1866', '6141', '3', '877', '4', '1', 94085, '890']]

In [36]:
## Reading csv files, how to fix errors in data, replace 84085 with 94085
def read_file_housing(filename):
    file_open = open(filename,"r")
    data_array = []
    for line in iter(file_open):
        if "HomeID" in line:
            continue
        line_no_newline = line.rstrip()
        line2 = line_no_newline.replace("84085","94085")
        line_split = line2.split(",")
        data_array.append(line_split)
    return data_array

In [37]:
housing_data2 = read_file_housing("bayarea_home_prices.csv")
print(housing_data2[0:6])

[['1', '24', '1757', '6056', '2', '899', '3', '3', '94085', '894'], ['2', '10', '1563', '6085', '2', '959', '4', '3', '94085', '861'], ['3', '14', '1344', '6089', '2', '865', '4', '3', '94085', '831'], ['4', '14', '1215', '6129', '3', '959', '4', '2', '94085', '809'], ['5', '24', '1866', '6141', '3', '877', '4', '1', '94085', '890'], ['6', '18', '1589', '6148', '2', '920', '3', '0', '94085', '867']]

In [38]:
len_housing_data2 = len(housing_data2)
print(len_housing_data2)

100

In [39]:
list_ZipCode2 = []
# for all rows, extract all zipcodes
for k in range(0,len_housing_data2):
    list_ZipCode2.append(int(housing_data2[k][8]))

In [40]:
print(list_ZipCode2) # Converted to numbers

[94085, 94085, 94085, 94085, 94085, 94085, 94085, 94085, 94085, 94085, 94085, 94085, 94085, 94085, 94085, 95051, 94085, 94085, 95051, 94085, 94085, 94085, 94085, 95051, 94085, 94085, 94085, 95051, 94085, 95051, 95051, 95051, 95051, 95051, 95051, 95051, 85051, 95051, 95051, 95051, 94087, 94087, 95051, 95051, 95051, 94087, 95051, 94087, 94087, 95051, 95051, 95051, 85051, 94087, 95051, 94087, 94087, 94087, 95051, 94087, 94087, 94087, 94087, 94087, 94087, 95014, 94087, 94087, 94087, 94087, 95014, 94087, 95014, 95014, 84087, 84087, 95014, 94087, 94087, 94087, 95014, 95014, 95014, 95014, 85014, 95014, 95014, 95014, 85014, 95014, 95014, 95014, 95014, 95014, 95014, 95014, 95014, 95014, 95014, 95014]

In [41]:
type(housing_data2)

list

### Pandas version - read_csv

In [42]:
# Pandas loads numbers in csv as int, versus reading it in line by line into a multi-D array would give you strings
import pandas as pd
df = pd.read_csv("bayarea_home_prices.csv")
print(len(df))
df.head()

100

,HomeID,HomeAge,HomeSqft,LotSize,BedRooms,HighSchoolAPI,ProxFwy,CarGarage,ZipCode,HomePriceK
0,1,24,1757,6056,2,899,3,3,94085,894
1,2,10,1563,6085,2,959,4,3,94085,861
2,3,14,1344,6089,2,865,4,3,94085,831
3,4,14,1215,6129,3,959,4,2,94085,809
4,5,24,1866,6141,3,877,4,1,94085,890

In [43]:
df[df['ZipCode'] < 90000]

,HomeID,HomeAge,HomeSqft,LotSize,BedRooms,HighSchoolAPI,ProxFwy,CarGarage,ZipCode,HomePriceK
5,6,18,1589,6148,2,920,3,0,84085,867
21,22,10,1752,6892,3,904,3,0,84085,912
36,37,13,1874,7333,3,960,3,2,85051,1044
52,53,23,1289,7873,2,857,3,0,85051,1074
74,75,14,1401,8825,3,940,2,2,84087,1184
75,76,12,1947,8882,3,954,3,2,84087,1173
84,85,22,1757,9163,3,861,2,3,85014,1272
88,89,21,1994,9215,4,881,4,0,85014,1256

<h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 9:</h1></font>

In [44]:
"""
The above example shows correcting 84085 -> 94085
Perform other zip code corrections: 
84087 -> 94087,
85014 -> 95014,
85051 -> 95051
Create a table for zip code distribution after corrections:
After:Zipcode,House_Count
94085,25
94087,25
95051,25
95014,25
"""
#Your answer here
#Answer is below

'\nThe above example shows correcting 84085 -> 94085\nPerform other zip code corrections: \n84087 -> 94087,\n85014 -> 95014,\n85051 -> 95051\nCreate a table for zip code distribution after corrections:\nAfter:Zipcode,House_Count\n94085,25\n94087,25\n95051,25\n95014,25\n'

### Arrays version for #9

In [45]:
def replace_all(text, dic):
    for i, j in dic.items():
        text = text.replace(i, j)
    return text

def read_file_housing(filename, dic):
    file_open = open(filename,"r")
    data_array = []
    for line in iter(file_open):
        if "HomeID" in line:
            continue
        line_no_newline = line.rstrip()
        #line2 = line_no_newline.replace("84085","94085")
        line2 = replace_all(line_no_newline, dic)
        line_split = line2.split(",")
        if len(line_split[5]) == 2:
            line_split[5] += '0'  #since it is a string of number, to multiply by 10 is same as adding a '0' at the end
        data_array.append(line_split)
    return data_array

dic = {"84085":"94085", "84087":"94087","85014":"95014","85051":"95051","l":"1"}  #fix ZipCode and CarGarage
housing_data2 = read_file_housing("bayarea_home_prices.csv", dic)
print(housing_data2[0:5])

[['1', '24', '1757', '6056', '2', '899', '3', '3', '94085', '894'], ['2', '10', '1563', '6085', '2', '959', '4', '3', '94085', '861'], ['3', '14', '1344', '6089', '2', '865', '4', '3', '94085', '831'], ['4', '14', '1215', '6129', '3', '959', '4', '2', '94085', '809'], ['5', '24', '1866', '6141', '3', '877', '4', '1', '94085', '890']]

In [46]:
zipcode_ct = {}
# for all rows, extract all zipcodes
for k in range(0,len(housing_data2)):
    if housing_data2[k][8] not in zipcode_ct:
        zipcode_ct[housing_data2[k][8]] = 1
    else:
        zipcode_ct[housing_data2[k][8]] += 1
    
print("Zipcode,House_Count")    
for i,v in sorted(zipcode_ct.items()):
    print(i+','+str(v))

Zipcode,House_Count
94085,25
94087,25
95014,25
95051,25

### Pandas version for #9

In [47]:
df.loc[df.ZipCode == 84085, 'ZipCode'] = 94085
df[df['ZipCode'] < 90000]

,HomeID,HomeAge,HomeSqft,LotSize,BedRooms,HighSchoolAPI,ProxFwy,CarGarage,ZipCode,HomePriceK
36,37,13,1874,7333,3,960,3,2,85051,1044
52,53,23,1289,7873,2,857,3,0,85051,1074
74,75,14,1401,8825,3,940,2,2,84087,1184
75,76,12,1947,8882,3,954,3,2,84087,1173
84,85,22,1757,9163,3,861,2,3,85014,1272
88,89,21,1994,9215,4,881,4,0,85014,1256

In [48]:
#loc[<row selection>, <column selection>] locates rows by index/label
df.loc[df.ZipCode < 90000, 'ZipCode'] += 10000
df.loc[[36,52,74,75,84,88]]

,HomeID,HomeAge,HomeSqft,LotSize,BedRooms,HighSchoolAPI,ProxFwy,CarGarage,ZipCode,HomePriceK
36,37,13,1874,7333,3,960,3,2,95051,1044
52,53,23,1289,7873,2,857,3,0,95051,1074
74,75,14,1401,8825,3,940,2,2,94087,1184
75,76,12,1947,8882,3,954,3,2,94087,1173
84,85,22,1757,9163,3,861,2,3,95014,1272
88,89,21,1994,9215,4,881,4,0,95014,1256

In [49]:
print("Zipcode,House_Count")
zip_ct = df['ZipCode'].value_counts()

zipcode = zip_ct.keys().tolist()
house_ct = zip_ct.tolist()

zip_house_list = list(zip(zipcode, house_ct))

for i, v in sorted(zip_house_list):
    print(str(i)+","+str(v))

Zipcode,House_Count
94085,25
94087,25
95014,25
95051,25

<h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 10:</h1></font>

In [50]:
"""
Modify function read_file_housing to multiply incorrect SchoolAPI by 10.
Assume API value to be incorrect if it is a two digit number.

Calculate average School API by zipcode. Print the following:
Average_SchoolAPI,Cnt_of_homes,ZipCode
xyz,mn,abc
"""

'\nModify function read_file_housing to multiply incorrect SchoolAPI by 10.\nAssume API value to be incorrect if it is a two digit number.\n\nCalculate average School API by zipcode. Print the following:\nAverage_SchoolAPI,Cnt_of_homes,ZipCode\nxyz,mn,abc\n'

### Arrays version for #10

In [51]:
# SchoolAPI modification is in the read_file_housing function under Exercise 9

In [52]:
zipcode_API = {}
# for all rows, extract all zipcodes
for k in range(0,len(housing_data2)):
    if housing_data2[k][8] not in zipcode_API:
        zipcode_API[housing_data2[k][8]] = [int(housing_data2[k][5])]
    else:
        zipcode_API[housing_data2[k][8]].append(int(housing_data2[k][5]))  # a list of HighSchoolAPIs for each zipcode
    
print("Average_SchoolAPI,Cnt_of_homes,ZipCode")    
for i,v in sorted(zipcode_API.items()):
    print(str(average(v))+','+str(len(v))+','+i)

Average_SchoolAPI,Cnt_of_homes,ZipCode
907.0,25,94085
899.24,25,94087
894.8,25,95014
916.68,25,95051

### Pandas version for #10

In [53]:
#Your answer here
df.loc[df.HighSchoolAPI < 100]
df.loc[df.HighSchoolAPI < 100, 'HighSchoolAPI'] *= 10
df.loc[[9,28,44,54,60,64,72,91]]

,HomeID,HomeAge,HomeSqft,LotSize,BedRooms,HighSchoolAPI,ProxFwy,CarGarage,ZipCode,HomePriceK
9,10,24,1933,6276,2,950,4,1,94085,885
28,29,17,1446,7098,2,900,4,3,94085,919
44,45,15,1249,7609,3,960,2,2,95051,1000
54,55,10,1721,7902,3,890,3,3,95051,1075
60,61,13,1432,8121,2,900,3,0,94087,1177
64,65,14,1617,8394,2,850,2,0,94087,1138
72,73,25,1302,8668,3,850,4,2,95014,1240
91,92,18,1846,9292,4,920,4,3,95014,1294

In [54]:
meanAPI = df.groupby(['ZipCode'], as_index=False)['HighSchoolAPI'].mean()
home_ct = df.groupby(['ZipCode'])['ZipCode'].count()
meanAPI2 = df.groupby(['ZipCode'], as_index=False)['HighSchoolAPI'].agg(['mean', 'count'])
meanAPI2
#pd.merge(home_ct, meanAPI, on='ZipCode') #cannot merge as the result of groupby is a Series for the ZipCode count

print("Average_SchoolAPI,Cnt_of_homes,ZipCode")

meanAPI2 = meanAPI2.reset_index()  #After GroupBy, ZipCode became the index, reset index so that ZipCode becomes a column again

#re-arrange the column orders to display of the results in the requested format
for n in range(len(meanAPI2)):
    print(str(meanAPI2['mean'][n])+','+str(meanAPI2['count'][n])+','+str(meanAPI2['ZipCode'][n]))

Average_SchoolAPI,Cnt_of_homes,ZipCode
907.0,25,94085
899.24,25,94087
894.8,25,95014
916.68,25,95051

<h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 11:</h1></font>

In [55]:
"""
Modify function read_file_housing to replace CarGarage value of 'l' with integer 1
Calculate and print the following:
Car_Garage,Cnt_of_homes
0,m
1,n
2,o
3,p
"""

"\nModify function read_file_housing to replace CarGarage value of 'l' with integer 1\nCalculate and print the following:\nCar_Garage,Cnt_of_homes\n0,m\n1,n\n2,o\n3,p\n"

### Arrays version for #11

In [56]:
# CarGarage modification is in the read_file_housing function under Exercise 9

In [57]:
garage_ct = {}
# for all rows, extract CarGarage size
for k in range(0,len(housing_data2)):
    if housing_data2[k][7] not in garage_ct:
        garage_ct[housing_data2[k][7]] = 1
    else:
        garage_ct[housing_data2[k][7]] += 1
    
print("Car_Garage,Cnt_of_homes")    
for i,v in sorted(garage_ct.items()):
    print(i+','+str(v))

Car_Garage,Cnt_of_homes
0,31
1,18
2,19
3,32

### Pandas version for #11

In [58]:
df.loc[df.CarGarage == 'l', 'CarGarage'] = 1
df.CarGarage = pd.to_numeric(df.CarGarage)
df.dtypes
df.loc[[12,23,53,95]]

,HomeID,HomeAge,HomeSqft,LotSize,BedRooms,HighSchoolAPI,ProxFwy,CarGarage,ZipCode,HomePriceK
12,13,15,1541,6514,2,872,2,1,94085,933
23,24,10,1598,7011,2,911,3,1,95051,972
53,54,12,1401,7897,3,888,4,1,94087,1114
95,96,11,1981,9350,4,912,2,1,95014,1307

In [59]:
from collections import Counter
garage_ctr = Counter(df.CarGarage)

#Counter.most_common() gives a list of tuples with (key, count) in descending order by default
#Hence need to sort it with the key which is the first element of the tuple x[0]
garage_home_ct = sorted(garage_ctr.most_common(), key=lambda x: x[0])  

print("Car_Garage,Cnt_of_homes")
for i, v in garage_home_ct:
    print(str(i)+','+str(v))

Car_Garage,Cnt_of_homes
0,31
1,18
2,19
3,32

<h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 12:</h1></font>

In [60]:
"""
Find the average price of a home in this four zip codes area.
Zipcode,Avg_Price,Cnt_of_homes
"""

'\nFind the average price of a home in this four zip codes area.\nZipcode,Avg_Price,Cnt_of_homes\n'

### Arrays version for #12

In [61]:
zipcode_price = {}
# for all rows, extract all zipcodes
for k in range(0,len(housing_data2)):
    if housing_data2[k][8] not in zipcode_price:
        zipcode_price[housing_data2[k][8]] = [int(housing_data2[k][9])]
    else:
        zipcode_price[housing_data2[k][8]].append(int(housing_data2[k][9]))  # a list of HomePrice's for each zipcode
    
print("Zipcode,Avg_Price,Cnt_of_homes")    
for i,v in sorted(zipcode_price.items()):
    print(i+','+str(average(v))+','+str(len(v)))

Zipcode,Avg_Price,Cnt_of_homes
94085,885.96,25
94087,1151.48,25
95014,1263.32,25
95051,1023.2,25

### Pandas version for #12

In [62]:
meanPrice = df.groupby(['ZipCode'], as_index=False)['HomePriceK'].agg(['mean', 'count'])
meanPrice = meanPrice.reset_index()

print("Zipcode,Avg_Price,Cnt_of_homes")
for i in range(len(meanPrice)):
    print(str(meanPrice['ZipCode'][i])+','+str(meanPrice['mean'][i])+','+str(meanPrice['count'][i]))

Zipcode,Avg_Price,Cnt_of_homes
94085,885.96,25
94087,1151.48,25
95014,1263.32,25
95051,1023.2,25

<h1> <b><font color = coral>&#9998; <font color = coral>EXERCISE 13:</h1></font>

In [63]:
"""
Find the average price of a home in Sunnyvale (94087 and 94085).
Print the output as follows:
The average house price in Sunnyvale based on xx homes is $yyy (thousands).
"""

'\nFind the average price of a home in Sunnyvale (94087 and 94085).\nPrint the output as follows:\nThe average house price in Sunnyvale based on xx homes is $yyy (thousands).\n'

### Array version for #13

In [64]:
sunnyvale_price = []

for k in range(0,len(housing_data2)):
    if housing_data2[k][8] in ['94087','94085']:
        sunnyvale_price.append(int(housing_data2[k][9]))  # a list of HomePrice's for those with Sunnyvale zipcodes
    
print("The average house price in Sunnyvale based on "+str(len(sunnyvale_price))+" homes is $"+str(average(sunnyvale_price))+" (thousands).")

The average house price in Sunnyvale based on 50 homes is $1018.72 (thousands).

### Pandas version for #13

In [65]:
SunnyPrice = df.groupby(['ZipCode'], as_index=False).get_group(94085)['HomePriceK'].agg(['sum', 'count'])
ValePrice = df.groupby(['ZipCode'], as_index=False).get_group(94087)['HomePriceK'].agg(['sum', 'count'])
sunnyvale_ct = SunnyPrice['count']+ValePrice['count']
sunnyvale_avg = (SunnyPrice['sum']+ValePrice['sum'])/sunnyvale_ct

print("The average house price in Sunnyvale based on "+str(sunnyvale_ct)+" homes is $"+str(sunnyvale_avg)+" (thousands).")

The average house price in Sunnyvale based on 50 homes is $1018.72 (thousands).