In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
# this db only exists with this notebook
%sql sqlite://

'Connected: @None'

In [6]:
%%sql
DROP TABLE IF EXISTS products;
CREATE TABLE products (prod_nbr, price);
INSERT INTO products VALUES ('tray-01', 11.00);
INSERT INTO products VALUES ('tray-02', 12.50);

 * sqlite://
Done.
Done.
1 rows affected.
1 rows affected.

[]

In [7]:
%sql select * from products;

 * sqlite://
Done.

[('tray-01', 11.0), ('tray-02', 12.5)]